<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Description</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <img src=<%= post.url %> alt="Smiley face" height="auto" width="300">
      <td><%= post.description %></td>
    </tr>
  <% end %>
</table>

 <%= link_to 'New post', new_post_path %>
 <%= link_to 'Home page', controller: "welcome" %>